<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="true" scan="true" scanPeriod="30 second">

    <property name="ROOT" value="logs"/>
    <property name="MAXHISTORY" value="100"/>

    <property name="pattern" value="%d{yyyy-MM-dd HH:mm:ss.SSS} %level [%thread] %logger{36} %msg%n" />
    <!-- 控制台打印 -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder charset="utf-8">
            <pattern>${pattern}</pattern>
        </encoder>
    </appender>
    <!-- 输入到文件，按日期轮滚 -->
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${ROOT}/app.log</file>
        <encoder charset="utf-8">
            <pattern>${pattern}</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${ROOT}/${PROJECT}/app.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>${MAXHISTORY}</maxHistory>
        </rollingPolicy>
    </appender>

    <!-- Logger 根目录 -->
    <root level="DEBUG">
        <appender-ref ref="CONSOLE"/>
<!--        <appender-ref ref="FILE"/>-->
    </root>
</configuration>